# Flutter
.dart_tool/
.packages
build/
*.iml
*.ipr
*.iws
.idea/
.DS_Store
*.swp
*.lock

# Android
android/.gradle/
android/app/build/
android/local.properties
*.apk
*.aab

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Podfile.lock
*.ipa

# Web
web/.index.html

# IDE
.vscode/
.idea/
*.sublime-*

# OS
.DS_Store
Thumbs.db

# Test
coverage/
